.splash {
	width: 50%;
	margin: 0 auto;
	background-color: #E8D7FF;
	border-radius: 15px;
}

.img1 {
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
}

.cim {
color: #2C514C;
text-align: center;
}

.texte {
color: #D35269;
}

body {
background-color: f3ffe1;
}

#rounded {

}