body
{
    text-align: center;
    background-color: #f3ffe1;
}
table
{
    margin: 0 auto;
    width: 25%;
    background-color: #E8D7FF;
    border-radius: 15px;
}

.cim {
    color: #2C514C;
    text-align: center;
}

.form {
    color: #2C514C;
    text-align: center;
    margin-top: 25em;
}

.text {
    color: #D35269;
}

a:link {
    color: cornflowerblue;
    background-color: transparent;
    text-decoration: none;
}

#rounded {

}