@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --linkHover: #ffbf92;
  --pri1: #4CAF50;
  --pri2: #0077B6;

  --sec1: #FF6F00;
  --sec2: #6D4C41;

  --neut1: #F1F8E9;
  --neut2: #374148;

  --green1: #66B539;
  --green2: #E8F7DD;

  --nav-bg: rgba(55, 65, 72, 0.5);
}

.backdrop-composite {
  background: var(--nav-bg);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
}S

body {
  color: var(--foreground);
  background: var(--background);
}


* {
  scrollbar-width: none;
}

